<style>
nav button {
	margin-right: 20px;
}
</style>
<nav class="navbar navbar-inverse navbar-fixed-bottom">
	<div class="navbar-header">{{acontecimiento.titulo}}</div>

	<div class="btn-group btn-group-lg navbar-right" role="group">
		<button ng-click="zoomIn()" class="btn btn-sq glyphicon glyphicon-plus"></button>
		<button ng-click="zoomOut()" class="btn btn-sq-lg glyphicon glyphicon-minus"></button>
		<button ng-click="openMap()" class="btn btn-sq-lg glyphicon glyphicon-new-window pull-right"></button>
	</div>
</nav>
