<div ng-controller="carouselCtrl">


<div class="carousel-bg" ng-if="carousel"></div>
<div class="carousel" ng-if="carousel">
	<div class="img-container">
		<div ng-repeat="slide in slides" class="imagen-if">
			<img class="img" ng-src="{{slide.src }}" ng-if="count == $index">
		</div>
	</div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-top carousel-top-nav" ng-if="carousel && navOnOff">
	<div class="row">
			<h1 class="carousel" style="text-align: center">{{titulo}}</h1>
			<div ng-repeat="slide in slides" style="display: inline-block;">
				<h2 class="pull-left carousel" ng-if="count == $index">{{slide.titulo}}</h2>
			</div>
			<h2 class="pull-right info">{{fecha}}</h2>

	</div>	
</nav>

<nav class="navbar navbar-inverse navbar-fixed-bottom carousel-bottom-nav" ng-if="carousel && navOnOff">
	<div class="container" ng-repeat="slide in slides">
		<h2 class="carousel" ng-if="count == $index">{{slide.contenido}}</h2>
	</div>
</nav>


</div>