<style>
nav.info {	
	background: rgba(0,0,0,0.5);
	color: rgba(0,0,0,0.5);
	top: -100px;
}
nav.info.ng-enter {
	animation: info-nav 5s linear;
 	-webkit-animation: info-nav 5s linear; 	
}
nav.info.ng-leave{
	animation: info-nav 5s linear;
 	-webkit-animation: info-nav 5s linear;
}


@keyframes info-nav {
  0%, 100%  { top: -100px; }
  10%, 90% { top: 0px; }
}
@-webkit-keyframes info-nav {
   0%, 100%  { top: -100px; }
  10%, 90% { top: 0px; }
}

</style>

<div ng-controller="infoNavCtrl" >
	<nav class="navbar navbar-inverse navbar-fixed-top info" ng-if="showInfo">
		<div>
			<h1>{{info.titulo}}</h1>
		</div>
	</nav>
</div>
