<meta charset="UTF-8">

<div class="input-group col-xs-12">
	<a class="glyphicon glyphicon-map-marker pull-left" style="cursor: pointer" ng-click="addOverlay(acontecimiento)"></a> 
	<a href="#" class="a-title" ng-click="setAcontecimiento(acontecimiento)">{{acontecimiento.titulo}}</a> 
	<a class="glyphicon glyphicon-modal-window pull-right" ng-click="showImagenes(acontecimiento)" style="cursor: pointer"></a> 
	<a class="glyphicon glyphicon-send pull-right" ng-click="flyTo(acontecimiento.coordenadas)" style="cursor: pointer"></a>
</div>
