<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />   
	<link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css'>
    <script type="text/javascript" src="/javascripts/jquery-ui-1.10.4.custom/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/javascripts/ol.js"></script>
    <script type="text/javascript" src="/javascripts/angular.min.js"></script>    
    <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="stylesheet" href="/stylesheets/ol.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/samples.css">
    <script>
		window.onload = function() {
		  var osmLayer = new ol.layer.Tile({
		    source: new ol.source.OSM()
		  });
		
		  var map = new ol.Map({
		    target: 'map',
		    view: window.opener.view
		  });
		
		  map.addLayer(osmLayer);
		  
		  $.get("/db/findLinea?titulo=Otra linea Nueva", function(linea, status){
				//console.log(linea);
				var lineaTiempo = JSON.parse(linea);
				
				$('#lineaTiempo').empty();
				
				var item = 	"<div class='input-group col-md-12 col-sm-12 col-xs-12'>";
				item +=			"<a href='#' class='list-group-item active'>";
				item += 			"<p class='list-group-item-text'>"+lineaTiempo.titulo+"</p>";
				item +=		 	"</a>";
				item +=		"</div>";				 
				 
				$('#lineaTiempo').append(item);				
				
				var acontecimientos = lineaTiempo.acontecimientos;  
				acontecimientos.forEach(function(data){
					var item = "<div class='input-group'>";
					item +=			"<a href='#' class='list-group-item' onclick='console.log(\""+data.titulo+"\");'>";
					item +=				"<h4 class='list-group-item-text'>"+data.titulo.substring(0,30)+"</h4>";
					item +=				"<h5 class='list-group-item-text'>"+data.dia+"/"+data.mes+"/"+data.año+"</h5>";
					item +=			"</a>";
					item +=			"<span class='input-group-addon glyphicon glyphicon-modal-window' onclick='console.log(\'hola\')' style='cursor:pointer'></span>";
					item +=			"<span class='input-group-addon glyphicon glyphicon-send' onclick='flyTo("+data.coordenadas+");' style='cursor:pointer'></span>";		
					item +=		"</div>";		
					$('#lineaTiempo').append(item);
				});
						
				
			});		
		}
		
		function flyTo(x,y){
			console.log("flyTo" +x+" "+y);
	        var location = ol.proj.transform([parseFloat(x), parseFloat(y)], 'EPSG:4326', 'EPSG:3857');
	        window.opener.doBounce(location);
		}
		
		
		
		
		var app = angular.module('app', []).controller('control', function($scope, $http) {
		  $scope.linea = {};
		  $http.get("/db/findLinea?titulo=Otra linea Nueva").success(function(response) {$scope.linea = response;});
		  
		  $scope.currentPage = 0;
		  $scope.pageSize = 3;		  
		  $scope.fly = function(coordenadas) {
		    console.log(coordenadas);
		  };
		
		});
		
		app.filter('startFrom', function() {
		    return function(input, start) {
		        start = +start; //parse to int
		        return input.slice(start);
		    }
		});
		
		
    </script>

  </head>

  <body ng-app="app" ng-controller="control">
    <div class="jumbotron">
      <div class="container">
        <h1>Control Remoto</h1>
        
		<div class="col-md-4 col-sm-12 col-xs-12">
	      
	      <div class="input-group col-md-12 col-sm-12 col-xs-12">
	        <a href="#" class="list-group-item active ">
	          <p class="list-group-item-text">Línea de Tiempo</p>
	        </a>
	      </div>
	      
	      <div class="input-group" ng-repeat="acont in linea.acontecimientos | startFrom:currentPage*pageSize | limitTo:pageSize">
	        <a href="#" class="list-group-item">
	          <h4 class="list-group-item-text">{{acont.titulo}}</h4>
	          <h5 class="list-group-item-text">{{acont.ano}}</h5>
	        </a>
	        <span class="input-group-addon glyphicon glyphicon-modal-window" onclick="console.log('hola')" style="cursor:pointer"></span>
	        <span class="input-group-addon glyphicon glyphicon-send" ng-click="fly(acont.coordenadas)" onclick="console.log('hola')" style="cursor:pointer"></span>
	      </div>
	
	      <nav>
	        <ul class="pager">
	          <li><a href="#" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Previous</a></li>
	          <li><a href="#">{{currentPage+1}}/{{linea.acontecimientos.length/pageSize | number:0}}</a></li>
	          <li><a href="#" ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">Next</a></li>
	        </ul>
	      </nav>
	      
		</div>
        
        
        
        <div class="col-md-4 col-sm-12 col-xs-12">      
	      <div class="input-group col-md-12 col-sm-12 col-xs-12">
	        <a href="#" class="list-group-item active ">
	          <p class="list-group-item-text">Otras Líneas</p>
	        </a>
	      </div>	      
	      <div class="input-group">
	        <a href="#" class="list-group-item">
	          <h4 class="list-group-item-text">Línea de Tiempo 1</h4>
	          <h5 class="list-group-item-text">15 de Enero 1815</h5>
	        </a>
	        <span class="input-group-addon glyphicon glyphicon-modal-window" onclick="console.log('hola')" style="cursor:pointer"></span>
	      </div>
   		</div>
        
        
		<div class="col-md-4 col-sm-12 col-xs-12">      
	      <div class="input-group col-md-12 col-sm-12 col-xs-12">
	        <a href="#" class="list-group-item active ">
	          <p class="list-group-item-text">Acontecimientos</p>
	        </a>
	      </div>	      
	      <div class="input-group">
	        <a href="#" class="list-group-item">
	          <h4 class="list-group-item-text">Acontecimiento 1</h4>
	          <h5 class="list-group-item-text">15 de Enero 1815</h5>
	        </a>
	        <span class="input-group-addon glyphicon glyphicon-modal-window" onclick="console.log('hola')" style="cursor:pointer"></span>
	        <span class="input-group-addon glyphicon glyphicon-send" onclick="console.log('hola')" style="cursor:pointer"></span>
	      </div>	
		</div>
        
        
      </div>
      
    </div>
    <div class="container col-md-3">
      <div id="map" class="map col-md-3"></div>
    </div>
  </body>
</html>
