<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />   
	<link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css'>
	<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap-theme.css">
    <script type="text/javascript" src="/javascripts/jquery-ui-1.10.4.custom/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/javascripts/ol.js"></script>
    <script type="text/javascript" src="/javascripts/angular.min.js"></script>    
    <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="stylesheet" href="/stylesheets/ol.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/samples.css">
    <script>
		window.onload = function() {
		  var osmLayer = new ol.layer.Tile({
		    source: new ol.source.OSM()
		  });
		
		  var map = new ol.Map({
		    target: 'map',
		    view: window.opener.view
		  });
		
		  map.addLayer(osmLayer);
		  
		}
		
		function flyTo(x,y){
			console.log("flyTo" +x+" "+y);
	        var location = ol.proj.transform([parseFloat(x), parseFloat(y)], 'EPSG:4326', 'EPSG:3857');
	        window.opener.doBounce(location);
		}
	
		function fly(coordenadas) {
			console.log("fly "+coordenadas);
	        var location = ol.proj.transform(coords, 'EPSG:4326', 'EPSG:3857');
	        window.opener.doBounce(location);
	   	};
		
		
		var app = angular.module('app', []);
		app.controller('control', function($scope, $http) {
		  $scope.linea = {
		  	acontecimientos: [{
		  		titulo: "tit",
		  		ano: "1982",
		  		coordenadas: [-32,65]
		  	}]
		  };
		  $scope.acontecimiento = {
		  	titulo : "empty",
		  	contenido : "empty"		  
		  };
		  
		  $http.get("/db/findLinea?titulo=Otra linea Nueva").success(function(response) {$scope.linea = response;});
		  
		  $scope.currentPage = 0;
		  $scope.pageSize = 3;		  
		  
		  $scope.fly = function(coordenadas) {
		    console.log("fly angular "+coordenadas);
	        var location = ol.proj.transform(coordenadas, 'EPSG:4326', 'EPSG:3857');
	        window.opener.doBounce(location);
	   	  };
	   	  
	   	  $scope.setAcontecimiento = function(acontecimiento){ $scope.acontecimiento = acontecimiento;  };

		
		});
		
		app.controller('toggle', function($scope, $http) {

	   	  $scope.addRemoveOverlay = function(coordenadas){	   	  	
	   	  	$scope.state = !$scope.state;	   	  	
	   	  	if($scope.state){
	   	  		$scope.overlay = window.opener.addOverlay(coordenadas);
	   	  		$scope.spanStyle = {'background-color': '#777'};
	   	  	}else{
	   	  		window.opener.removeOverlay($scope.overlay);
	   	  		$scope.spanStyle = {'background-color': '#eee'};	   	  		
	   	  	}
	   	  }
		
		});
		
		app.filter('startFrom', function() {
		    return function(input, start) {
		        start = +start; //parse to int
		        return input.slice(start);
		    }
		});
		
		
    </script>

  </head>

  <body ng-app="app" ng-controller="control">
    <div class="jumbotron col-md-12">
      <div class="container col-md-12">
        <h1>Control Remoto</h1>
        
		<div class="col-md-4 col-sm-12 col-xs-12">
	      
	      <div class="input-group col-md-12 col-sm-12 col-xs-12">
	        <a href="#" class="list-group-item active ">
	          <p class="list-group-item-text">{{linea.titulo}}</p>
	        </a>
	      </div>
	      
	      <div ng-controller="toggle" class="input-group" ng-repeat="acont in linea.acontecimientos | startFrom:currentPage*pageSize | limitTo:pageSize">
	      	<span class="input-group-addon glyphicon glyphicon-bookmark" ng-style="spanStyle" ng-click="addRemoveOverlay(acont.coordenadas);" style="cursor:pointer;"></span>
	        <a href="#" class="list-group-item" ng-click="setAcontecimiento(acont)">
	          <h4 class="list-group-item-text">{{acont.titulo}}</h4>
	          <h5 class="list-group-item-text">{{acont.ano}}</h5>
	        </a>
	        <span class="input-group-addon glyphicon glyphicon-modal-window" onclick="console.log('hola')" style="cursor:pointer"></span>
	        <span class="input-group-addon glyphicon glyphicon-send" ng-click="fly(acont.coordenadas);"  style="cursor:pointer"></span>
	      </div>
	
	      <nav>
	        <ul class="pager">
	          <li><a href="#" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Previous</a></li>
	          <li><a href="#">{{currentPage+1}}/{{linea.acontecimientos.length/pageSize | number:0}}</a></li>
	          <li><a href="#" ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">Next</a></li>
	        </ul>
	      </nav>
	      
		</div>
        
                
        <div class="col-md-4 col-sm-12 col-xs-12">      
	      <div class="input-group col-md-12 col-sm-12 col-xs-12">
	        <a href="#" class="list-group-item active ">
	          <p class="list-group-item-text">Otras Líneas</p>
	        </a>
	      </div>	      
	      <div class="input-group">
	        <a href="#" class="list-group-item">
	          <h4 class="list-group-item-text">Línea de Tiempo 1</h4>
	          <h5 class="list-group-item-text">15 de Enero 1815</h5>
	        </a>
	        <span class="input-group-addon glyphicon glyphicon-modal-window" onclick="console.log('hola')" style="cursor:pointer"></span>
	      </div>
   		</div>
        
        
		<div class="col-md-4 col-sm-12 col-xs-12">      
	      <div class="input-group col-md-12 col-sm-12 col-xs-12">
	        <a href="#" class="list-group-item active ">
	          <p class="list-group-item-text">Acontecimientos</p>
	        </a>
	      </div>	      
	      <div class="input-group">
	        <a href="#" class="list-group-item">
	          <h4 class="list-group-item-text">Acontecimiento 1</h4>
	          <h5 class="list-group-item-text">15 de Enero 1815</h5>
	        </a>
	        <span class="input-group-addon glyphicon glyphicon-modal-window" onclick="console.log('hola')" style="cursor:pointer"></span>
	        <span class="input-group-addon glyphicon glyphicon-send" onclick="console.log('hola')" style="cursor:pointer"></span>
	      </div>	
		</div>       
        
      </div>      
    </div>
    
    <div class="col-md-4">
      <div id="map" class="map"></div>
    </div>
    <div class="jumbotron col-md-8">
		  <div>
			<h2>{{acontecimiento.titulo}}
			<a href="#" class="btn btn-sq-lg btn-lg navbar-right">
				<i class="glyphicon glyphicon-modal-window"></i>                
	        </a>
	        <a href="#" ng-click="fly(acontecimiento.coordenadas);" class="btn btn-sq-lg btn-lg navbar-right">
				<i class="glyphicon glyphicon-send"></i>                
	        </a>
			</h2>	    	
          </div>    	
    	<div>
    		<p>{{acontecimiento.contenido}}</p>
    	</div>
    </div>
    
    <!--  Footer -->
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
      <div class="navbar-header">
        <div class="btn-group btn-group-lg" role="group">
          <button type="submit" class="btn btn-sq glyphicon glyphicon-arrow-left"></button>
          <button type="submit" class="btn btn-sq-lg glyphicon glyphicon-arrow-right"></button>
        </div>
      </div>

      <h4 class="navbar-text">{{linea.titulo}}: {{acontecimiento.titulo}}</h4>

      <div class="btn-group btn-group-lg navbar-right" role="group">
        <button type="submit" onclick="window.opener.setZoom(true)" class="btn btn-sq glyphicon glyphicon-plus"></button>
        <button type="submit" onclick="window.opener.setZoom(false)" class="btn btn-sq-lg glyphicon glyphicon-minus"></button>
        <button type="submit" onclick="window.opener.openContentModal()" class="btn btn-sq glyphicon glyphicon-modal-window"></button>
        <button type="submit" class="btn btn-sq-lg glyphicon glyphicon-send"></button>
        <button type="submit" class="btn btn-sq-lg glyphicon glyphicon-bookmark"></button>
        <button type="submit" class="btn btn-sq-lg glyphicon glyphicon-fullscreen"></button>
      </div>

    </div>
  </nav>
  </body>
</html>
