<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <script type="text/javascript" src="/javascripts/angular.min.js"></script>    

    <title></title>
</head>
<body ng-app='app' ng-controller="imgController">

<form action="/file" ENCTYPE="multipart/form-data" method="POST" name="wibble">
    <div ng-repeat="image in acontecimiento.images">
		<input type="file"  id="{{$index}}" name="{{$index}}" ng-model="image.image" onchange="angular.element(this).scope().fileNameChanged(this, angular.element(this))">
		<button ng-if="$last" ng-click="newItem();">+</button>
		<button ng-if="!$last" ng-click="removeItem($index);">-</button>
	</div>
    
<!--     <input ng-repeat="" type="file" name="1"/> -->
<!--     <input type="file" name="2"/> -->
<!--     <input type="file" name="3"/> -->
<!--     <input type="file" name="4"/> -->
    
    <input type="text" name="titulo">
    <br>
    <input type="submit"/>
</form>


<script type="text/javascript">
angular.module('app', []).controller('imgController',function($scope, $http){
	$scope.acontecimiento = {coordenadas: {x: '', y: ''}};
	
	$scope.acontecimiento.images = [{
	    imgSrc: '',
	    content: '',
	    title: '',
	    image: ''
	}];
	  	
	$scope.fileNameChanged = function(input, index){
	    if (input.files && input.files[0]) {
	      var reader = new FileReader();
	      reader.onload = function(e) {
	         $scope.imgSrc = e.target.result;
	         $scope.acontecimiento.images[index[0].id].imgSrc = e.target.result;
	         $scope.$apply();
	      }
	      reader.readAsDataURL(input.files[0]);
	    }
	};
	  
	$scope.newItem = function() {
	    $scope.acontecimiento.images.push({
	      imgSrc: '',
	      content: '',
	      title: '',
	      image: ''
		});
	};
	$scope.removeItem = function(index) {
		$scope.acontecimiento.images.splice(index, 1);
	};
	
	

	  
	  
});


</script>


</body>



</html>