<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css'>
<script type="text/javascript" src="/javascripts/jquery-ui-1.10.4.custom/js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/javascripts/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
<script type="text/javascript" src="/javascripts/ol.js"></script>
<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular.min.js"></script>    

<link rel='stylesheet' href='/stylesheets/style.css'>
<link rel="stylesheet" href="/stylesheets/ol.css" type="text/css">
<link rel="stylesheet" type="text/css" href="/stylesheets/samples.css">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<style type="text/css">
/* Styles go here */

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
</style>
<title>Insert title here</title>
</head>
<body ng-app='app' ng-controller="imgController" >
<div>
	<ul class="nav nav-tabs" role="tablist">
    	<li role="presentation" class="active">
        	<a id="homa" href="#home" aria-controls="home" role="tab" data-toggle="tab">Acontecimiento</a>
      	</li>
      	<li role="presentation">
        	<a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Línea de Tiempo</a>
      	</li>
    </ul>
    <div class="tab-content">
    	<div role="tabpanel" class="tab-pane active" id="home">	
			<form ng-submit="processForm()"  class="navbar-form navbar-left col-xl-3 col-lg-3 col-xs-3 col-md-3">		
				<div class="input-group" style="width: 100%">
					<span class="input-group-addon" id="basic-addon1">Título</span> 
					<input type="text" name="titulo" ng-model="acontecimiento.titulo" class="form-control" placeholder="Batalla de San Lorenzo" aria-describedby="basic-addon1">
				</div>
				<p></p>
				<div class="input-group" style="width: 100%">
					<span class="input-group-addon" id="basic-addon1">Fecha</span> 
					<input type="date" name="fecha" ng-model="acontecimiento.date" class="form-control" aria-describedby="basic-addon1">
				</div>
				<p></p>
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1">Coordenadas</span>
					<input type="number" id="x" ng-model="acontecimiento.coordenadas.x" ng-change="update()" name="coordenadaX" step="0.01"	class="form-control" placeholder="37,35" aria-describedby="basic-addon1"> 
					<span class="input-group-addon" id="basic-addon1">x</span> 
					<input type="number" id="y" name="coordenadaY" ng-model="acontecimiento.coordenadas.y" step="0.01" class="form-control" placeholder="15,48" aria-describedby="basic-addon1"> 
					<span class="input-group-addon" id="basic-addon1">y</span>
				</div>
				<p></p>
				<div class="input-group" style="width: 100%">
					<span class="input-group-addon" id="basic-addon1">Contenido</span>
					<textarea ng-model="acontecimiento.contenido" class="form-control" name="contenido" rows="8"
						aria-describedby="basic-addon1"></textarea>
				</div>
				<p>
<!-- 				<div class="input-group"> -->
<!-- 					<span class="input-group-addon" id="basic-addon1">Categoria</span> -->
<!-- 		                <input name="categoria" type="TextBox" ID="datebox" Class="form-control"> -->
<!-- 		                <div class="input-group-btn"> -->
<!-- 		                	<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> -->
<!-- 		                    	<span class="caret"></span> -->
<!-- 		                  	</button> -->
<!-- 		                  	<ul id="demolist" class="dropdown-menu"> -->
<!-- 		                    	<li><a href="#">Historia</a></li> -->
<!-- 			                    <li><a href="#">Música</a></li> -->
<!-- 			                    <li><a href="#">Geografía</a></li> -->
<!-- 			                  </ul> -->
<!-- 		                </div> -->
<!-- 		        </div> -->
		        <div class="row" ng-repeat="image in acontecimiento.images">
				    <div class="col-xl-3 col-lg-3 col-xs-3 col-md-3">
				      <a href="#" class="thumbnail"  ng-if="image.imgSrc">
				        <img id="blah" class="form-control" ng-src="{{image.imgSrc}}"  >
				      </a>
				      <span class="btn btn-default btn-file">
				      Browse Image <input type="file"  id="{{$index}}" ng-model="image.image" onchange="angular.element(this).scope().fileNameChanged(this, angular.element(this))">
				      </span>
				    </div>
				    <div class="col col-xl-8 col-lg-8 col-xs-8 col-md-8">
				      <input type="text" class="form-control" ng-model="image.title" placeholder="Título">
				      <textarea class="form-control" rows="5" cols="50" ng-model="image.content" placeholder="Contenido"></textarea>
				    </div>
				    <button ng-if="$last" ng-click="newItem();" class="btn btn-primary glyphicon glyphicon-plus col-sm-1 col-xl-1 col-lg-1"></button>
				    <button ng-if="!$last" ng-click="removeItem($index);" class="btn btn-danger glyphicon glyphicon-minus col-sm-1 col-xl-1 col-lg-1"></button>
				</div>
				<p></p>
				
								<button type="button"  class="btn btn-default" ng-click="update()">Update</button>
				
				<button type="submit" class="btn btn-default">Submit</button>
				<br><br>
				<div id="map" class="map" style="height: 300px; width: 100%;"></div>
				<div id="overlay" style="background-color: white; border-radius: 10px; border: 1px solid black; padding: 5px 10px;"></div>
			</form>
			<pre>
<!-- 		    {{ acontecimiento }} -->
			</pre>
		</div>
		<div role="tabpanel" class="tab-pane" id="profile">
			<div class="col-md-5">
				<div class="input-group-btn">
					<input id="nombre-linea" name="nombreLinea" type="TextBox" ID="datebox" Class="form-control">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<button type="button" class="btn btn-primary">
						<span class="">Nuevo</span>
					</button>
					<ul id="listLineasDeTiempo" class="dropdown-menu">
						
					</ul>
			    </div>
		        <div id="sortable1" class="list-group connectedSortable">	
		        	<a href="#" class="list-group-item active">
		          		<h4 class="list-group-item-heading">Línea de Tiempo</h4>
	          		</a>
		          	
		        </div>
	        </div>
	        <div id="sortable2" class="list-group col-md-4 connectedSortable">	
	          	<a href="#" class="list-group-item active">
	          		<h4 class="list-group-item-heading">Acontecimientos</h4>
	          	</a>
	        </div>
	        <button onclick="guardarLinea();">Guardar</button>
      	</div>
	</div>
</div>


</body>

<script type="text/javascript">
	
angular.module('app', []).controller('imgController',function($scope, $http){
	$scope.acontecimiento = {coordenadas: {x: '', y: ''}};
	
	$scope.acontecimiento.images = [{
	    imgSrc: '',
	    content: '',
	    title: '',
	    image: ''
	}];
	  
	$scope.imgSrc = "";

	$scope.update = function(){
		$scope.acontecimiento.coordenadas.x = parseFloat($('#x').val());
		$scope.acontecimiento.coordenadas.y = parseFloat($('#y').val());
	}
	
	$scope.fileNameChanged = function(input, index){
	    if (input.files && input.files[0]) {
	      var reader = new FileReader();
	      reader.onload = function(e) {
	         $scope.imgSrc = e.target.result;
// 	         console.log(e);
// 	         console.log(e.target.readAsBinaryString());
	         $scope.acontecimiento.images[index[0].id].imgSrc = e.target.result;
	         $scope.$apply();
	      }
	      reader.readAsDataURL(input.files[0]);
	    }
	};
	  
	$scope.newItem = function() {
	    $scope.acontecimiento.images.push({
	      imgSrc: '',
	      content: '',
	      title: '',
	      image: ''
		});
	};
	$scope.removeItem = function(index) {
		$scope.acontecimiento.images.splice(index, 1);
	};
	
	$scope.processForm = function() {
		
		$scope.update();  
// 		console.log($.param($scope.acontecimiento));
		console.log($scope.acontecimiento);

		$http({
		  method  : 'POST',
		  url     : '/db/add',
		  data    : $scope.acontecimiento,  // pass in data as strings
		  headers : { 'Content-Type': 'application/json' }  // set the headers so angular passing info as form data (not request payload)
		 })
		  .success(function(data) {
		    console.log(data);
		    if (!data.success) {
		      	// if not successful, bind errors to error variables
// 			    $scope.errorName = data.errors.name;
// 			    $scope.errorSuperhero = data.errors.superheroAlias;
		  } else {
// 	      		$scope.message = data.message;
	    	}
	  });
	};

	  
	  
});
	
	
	
	$('#home a').click(function(e) {
	  e.preventDefault();
	  console.log('evento ' + e);
	  $(this).tab('show');
	});
	
	$('#demolist li').on('click', function() {
	  $('#datebox').val($(this).text());
	});
	$('#listLineasDeTiempo li').on('click', function() {
	  $('#lineas').val($(this).text());
	});
	
	$(function() {
	  $("#sortable1, #sortable2").sortable({
	    connectWith: ".connectedSortable"
	  }).disableSelection();
	});
	
	
	
	$.get("/db/findAll", function(data, status){
		//$('#sortable2').empty();	
		data.forEach(function(data){
			var item = "<a href='#' id="+data.id+" class='list-group-item'>"; 
			item += "<h4 class='list-group-item-heading'>"+data.titulo+"</h4>";
			item += "<p class='list-group-item-text'>"+data.contenido+"</p>";
			item += "</a>";
			$('#sortable2').append(item);
		});
	});	
	
	function guardarLinea(){		
		console.log($("#sortable1"));
		var acontecimientos = new Array();
		
		$("#sortable1").children('a').each(function() {
		  	$this = $(this);
		  	//console.log($this);
		  	var id = $this.attr("id");
		  	//console.log(id);
		  	if(id == null){
		  		console.log("null");
		  	}else{
		  		acontecimientos.push(id);
		  	}
		});
		console.log(JSON.stringify(acontecimientos));
		var nombreLinea = $("#nombre-linea").val();
		console.log("nombreLinea "+ nombreLinea);
		$.get("/db/saveLineaDeTiempo?titulo="+nombreLinea+"&acontecimientos="+JSON.stringify(acontecimientos), function(data, status){
		
		});	
	}
	

	var layer = new ol.layer.Tile({
		source : new ol.source.OSM()
	});

	var center = ol.proj.transform([ -60, -31 ], 'EPSG:4326', 'EPSG:3857');
	var overlay = new ol.Overlay({
		element : document.getElementById('overlay'),
		positioning : 'bottom-center'
	});

	var view = new ol.View({
		center : center,
		zoom : 6
	});

	var map = new ol.Map({
		target : 'map',
		layers : [ layer ],
		view : view
	});

	// register an event handler for the click event
	map.on('click', function(event) {
		// extract the spatial coordinate of the click event in map projection units
		var coord = event.coordinate;
		// transform it to decimal degrees
		var degrees = ol.proj.transform(coord, 'EPSG:3857', 'EPSG:4326');
		// format a human readable version
		console.log('degrees ' + degrees);
		var hdms = ol.coordinate.toStringXY(degrees, 2);
		// update the overlay element's content
		$('#x').val(hdms.split(',')[0]);
		$('#y').val(hdms.split(',')[1].trim());

		var element = overlay.getElement();
		element.innerHTML = hdms;
		// position the element (using the coordinate in the map's projection)
		overlay.setPosition(coord);
		// and add it to the map
		map.addOverlay(overlay);
	});
</script>
</html>